.cell{
  padding: 0px;
}
.item{
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #e7ebee;
}
.item:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #a9cafd;
}
.item-locked{
  pointer-events: none;
}
table{
  margin: auto;
}

.player1{
  background: aqua;
}
.player2{
  background: #e37fe7;
}
